*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serifs;
    text-align: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 75px;
    cursor: pointer;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 0 auto;
}

